
/*  Style for dashboard.php*/

/*Style for top navigation*/
.top_nav{
    background-color: rgba(171, 160, 160, 0.47);
    overflow: hidden;
    border-radius: 20px;
}
.top_nav h1{
    text-align: center;
    margin-left: 20%;
}

.message_container .chat_log{
    background-color: #c3baba40;
    border: 1px solid black;
    width: 100%;
    height: 400px;
    text-align: left;
    padding: 0px 20px 10px 10px;
    margin-bottom: 10px;
    overflow: scroll;
    font-size: 20px;
    font-family: sans-serif;
}
#sign_out{
    float: right;
    margin: 0 10px 10px 100px;
    cursor: pointer;
}
.message_container {
   padding : 10px 50px 20px 20px;
}
#msg{
    padding: 10px 20px; 
    width: 85%;
    margin-left: 18px;
    border-radius: 35px;
    resize: none;
    margin-right: 0px;
}
#msg:focus, button#send_button:focus, button#sign_out:focus{
    outline-color: transparent;
}
button#sign_out{
         float: right;
         margin-top: 8px;
         padding: 10px 15px;
         position: relative;
         border: none;
         border-radius: 10px;
         cursor: pointer;
         margin-right: 1.5%;
         background-color: #f33c2e;
         color: white;

}
button#sign_out:hover, button#send_button:hover{
     opacity: 0.8;
}
button#send_button{
         float: right;
         padding: 10px 15px;
         position: relative;
         border: none;
         border-radius: 100%;
       
         cursor: pointer;
         margin-right: 4.5%;
         background-color: #27ab2c;
         color: white;
}

/* for mobiles */
@media only screen and (max-width: 460px){

    .top_nav{
        padding: 0px;
    
        margin-bottom: 5px;
        border-radius: 0px;

    }

    .top_nav h1{
        text-align: center;
        float:left;
        margin-left: 10px;
    }
    .message_container .chat_log{
        font-size: 22px;
        }
       .message_container{
           padding: 0px 28px 10px 2px;
       }
    #time{
        font-size: 11px;
        float: left;

    }
    #msg{
        width:65%;
        border-radius:30px;
        margin-left: 0px;   
    }
    #msg:focus{
        outline-color: transparent;
    }
   button:click{
       background-color: transparent;
   }
   
   button#send_button{
         float: right;
         margin-right: 0px;
         
    }
   

}